aside {
    background-color: #f5e1c0;
    border: 1px solid #704241;
    padding: 10px;
    font-size: 14px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside img,
aside iframe {
    border-radius: 8px;
    border: 1px solid #704241;
    margin-top: 10px;
}

aside ul {
    list-style-type: circle;
}

body {
    font-family: Georgia, serif;
    color: #2f1e0e;
    margin: 0;
    padding: 0;
    background-color: #fffdd0;
}

header {
    background-color: #b19576;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #704241;
}

nav {
    background-color: #f5e1c0;
    border-bottom: 2px solid #704241;
    overflow: hidden;
    padding: 10px;
}

nav a {
    float: left;
    display: block;
    color: #2f1e0e;
    text-decoration: none;
    margin-right: 15px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #b7e78b;
}

article {
    margin: 20px;
    background-color: #f5e1c0;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #704241;
}

article h2, article h3 {
    color: #704241;
}

section {
    background-color: #fff4db;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #b19576;
}

#contactinfo {
    text-align: center;
    background-color: #b19576;
    color: white;
    padding: 20px 0;
    border-top: 2px solid #704241;
}

#contactinfo a {
    color: #ffe7b3;
    text-decoration: none;
}

#contactinfo a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

#intervalInput {
    width: 140px;
    padding: 5px 8px;

    font-family: Georgia, serif;
    font-size: 14px;
    color: #2f1e0e;

    background-color: #fff4db;
    border: 1px solid #704241;
    border-radius: 5px;
}

#labtask table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}

#labtask th,
#labtask td {
    border: 1px solid #704241;
    padding: 8px;
    text-align: center;
}

#labtask thead tr {
    background-color: #704241;
    color: white;
}

#labtask tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#labtask tbody tr:nth-child(even) {
    background-color: #f5e1c0;
}

#labtask button {
    background-color: #b19576;
    color: white;
    border: 1px solid #704241;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#labtask button:hover {
    background-color: #704241;
}