body {
    font-family: Georgia, serif;
    color: #2f1e0e;
    margin: 0;
    padding: 0;
    background-color: #fffdd0;
}

header {
    background-color: #b19576;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #704241;
}

nav {
    background-color: #f5e1c0;
    border-bottom: 2px solid #704241;
    overflow: hidden;
    padding: 10px;
}

nav a {
    float: left;
    display: block;
    color: #2f1e0e;
    text-decoration: none;
    margin-right: 15px;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #b7e78b;
}

article {
    margin: 20px;
    background-color: #f5e1c0;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #704241;
}

article h2, article h3 {
    color: #704241;
}

section {
    background-color: #fff4db;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #b19576;
}

#contactinfo {
    text-align: center;
    background-color: #b19576;
    color: white;
    padding: 20px 0;
    border-top: 2px solid #704241;
}

#contactinfo a {
    color: #ffe7b3;
    text-decoration: none;
}

#contactinfo a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.5;
}

.register-form {
    position: fixed;
    right: 1%;
    top: 1%;
    width: 300px;
    background-color: #b19576;
    border: 2px solid #704241;
    border-radius: 20px;
    
}

.register-form label,
.register-form input[type="submit"] {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Georgia;
    font-size: 15px;
    color: #2f1e0e;
}

.register-form input[type="text"] {
    width: 60%;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #f5e1c0;
}

.register-form h3 {
    text-align: center;
}

.register-form input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 0 0 20px 20px;
    border: 0px;
    background-color: #f5e1c0;

}

.register-form input[type="submit"]:hover {
    background-color: #b7e78b;
    color: #333;
}

.register-form input[type="submit"]:active {
    background-color: #a5d778;
    color: #222;
}

.register-form input:valid {
    border-color: #a5d778;
}

.register-form input:invalid {
    border-color: #f4a7a7;
}